<link rel="stylesheet" href="test.css">
<% 
    const names = ['Julie', 'Amanda', 'Agustina', 'Enrique', 'Alec', 'Robert', 'Graham']

    const name = names[Math.floor(Math.random() * names.length)]

    const num = 8;
    const randomNameGenerator = num => {
        let res = '';
        for(let i = 0; i < num; i++){
            const random = Math.floor(Math.random() * 26);
            res += String.fromCharCode(97 + random);
        };
        return res;
    };
    const email = randomNameGenerator(num) + "@gmail.com"
%>

<div id="DIV_1937">
    <div id="DIV_1938">
        <div id="DIV_1939">
            <span id="SPAN_1940"></span>
            <div id="DIV_1941">
                <span id="SPAN_1942"><img src="https://mail.google.com/mail/u/0/images/cleardot.gif" alt="Collapse all" id="IMG_1943"></span>
            </div><span id="SPAN_1944"></span>
            <div id="DIV_1945">
                <span id="SPAN_1946"><img src="https://mail.google.com/mail/u/0/images/cleardot.gif" alt="Expand all" id="IMG_1947"></span>
            </div><span id="SPAN_1948"></span>
            <div id="DIV_1949">
                <span id="SPAN_1950"><img src="https://mail.google.com/mail/u/0/images/cleardot.gif" alt="Print all" id="IMG_1951"></span>
            </div><span id="SPAN_1952"></span>
            <div id="DIV_1953">
                <span id="SPAN_1954"><img src="https://mail.google.com/mail/u/0/images/cleardot.gif" alt="In new window" id="IMG_1955"></span>
            </div>
        </div>
    </div>
    <div id="DIV_1956">
        <div id="DIV_1957">
            <h2 id="H2_1958">
                Craigslist Listing
            </h2><span id="SPAN_1959"></span>
        </div>
        <div id="DIV_1963">
        </div>
    </div>
</div>
<div id="DIV_1975">
    <div id="DIV_1976">
        <div id="DIV_1977">
            <div id="DIV_1978">
            </div><img id="IMG_1979" src="https://thispersondoesnotexist.com/image" alt='' />
        </div>
    </div>
    <div id="DIV_1980">
        <div id="DIV_1981">
            <table id="TABLE_1982">
                <tbody id="TBODY_1983">
                    <tr id="TR_1984">
                        <td id="TD_1985">
                            <table id="TABLE_1986">
                                <tbody id="TBODY_1987">
                                    <tr id="TR_1988">
                                        <td id="TD_1989">
                                            <span id="SPAN_1991"><span id="SPAN_1992"><%= name %></span> <span id="SPAN_1993"><span id="SPAN_1994">&lt;</span><%= email %><span id="SPAN_1995">&gt;</span></span></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td id="TD_1996">
                            <div id="DIV_1997">
                                <span id="SPAN_1998"></span><span id="SPAN_1999">5:14 PM (9 minutes ago)</span>
                                <div id="DIV_2000">
                                    <span id="SPAN_2001"><img src="https://mail.google.com/mail/u/0/images/cleardot.gif"  id="IMG_2002" /></span>
                                </div>
                            </div>
                        </td>
                        <td id="TD_2003">
                        </td>
                        <td rowspan="2" id="TD_2004">
                            <div id="DIV_2005">
                                <img src="https://mail.google.com/mail/u/0/images/cleardot.gif"  id="IMG_2006" />
                            </div>
                            <div id="DIV_2007">
                                <img src="https://mail.google.com/mail/u/0/images/cleardot.gif"  id="IMG_2008" />
                            </div>
                        </td>
                    </tr>
                    <tr id="TR_2009">
                        <td colspan="3" id="TD_2010">
                            <table id="TABLE_2011">
                                <tbody id="TBODY_2012">
                                    <tr id="TR_2013">
                                        <td id="TD_2014">
                                            <div id="DIV_2015">
                                                <span id="SPAN_2016">to <span id="SPAN_2017">me</span></span>
                                            </div>
                                            <div id="DIV_2018">
                                                <img src="https://mail.google.com/mail/u/0/images/cleardot.gif"  id="IMG_2019" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="DIV_2020">
            <div id="DIV_2021">
            </div>
            <div id="DIV_2022">
            </div>
            <div id="DIV_2023">
            </div>
            <div id="DIV_2024">
            </div>
        </div>
        <div id="DIV_2025">
            <div id="DIV_2026">
            </div>
            <div id="DIV_2027">
            </div>
            <div id="DIV_2028">
                <div id="DIV_2029">
                    <div id="DIV_2030">
                        Hi I'm very interested in you're room for rent craigslist ad and wondering if you would except a couple we have been living in a hotel due to my mother's death and it's just way to expensive going to be living in our car soon if we don't find something please get back to me thank you so much
                        <br><br>
                        <%= name %>
                    </div>
                    <div id="DIV_2031">
                    </div>
                    <div id="DIV_2032">
                    </div>
                </div>
            </div>
        </div>

        <!-- Avast virus-free signature -->
        <%
        var random_boolean = Math.random() < 0.5;

        var reasons = []

        if(random_boolean){ %>
        <div id=""><br>
            <table style="border-top:1px solid #d3d4de">
                <tbody><tr>
                    <td style="width:55px;padding-top:13px"><img src="avast_virus_free.gif" alt="" width="46" height="29" style="width:46px;height:29px" class="CToWUd"></a></td>
                    <td style="width:470px;padding-top:12px;color:#41424e;font-size:13px;font-family:Arial,Helvetica,sans-serif;line-height:18px">Virus-free. <a href="https://www.avast.com/sig-email" style="color:#4453ea" target="_blank">www.avast.com</a>
                    </td>
                </tr>
            </tbody></table></div>

            <% 
            reasons.push("Just because an email has a virus-free signature does not mean it's safe! For example, it could have been placed there artificially. An email could be virus free but still try to steal your personal information. ")
            } %>
    </div>
    <% const overall = `These kinds of scams are really tough to spot. It's easy to think this could be legitimate, especially if you have an apartment on Craiglist. It's even harder when the sender has a sob story. However, a few things stand out:`
    reasons.push("This email has a ton of grammar mistakes and no punctuation")
    reasons.push("The sender's email address is gibberish")
    reasons.push("If applicable, the sender's profile picture does not match their name")
    reasons.push("This email does not contain any specifics about your apartment, suggesting it may have been sent to a mass of people")
    %>

    <script>
        window.good = false
        window.overall = `<%- overall %>`//this works too
        window.reasons = <%- JSON.stringify(reasons) %>


    </script>
</div>